body,html {
    font-family: 'PT Mono', monospace;
    color:#fff;
    background:rgb(0, 0, 0);
    position: absolute;
    width:500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#title {
    font-size:16px;
}

#links a{
    color:#fff;
    font-size:12px;
}

#links a:hover{
    color:#46aa8a;
}
