body,html {
    font-family:'IBM Plex Mono', monospace;
    color:#fff;
    background:rgb(0, 0, 0);
    position: absolute;
    width:500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#title {
    font-size:18px;
}

#links a{
    color:#fff;
    text-decoration: none;
    font-size:11px;
}

#links a:hover{
    color:#96a68d;
    text-decoration: none;
}
