body,html {
    font-family: 'PT Mono', monospace;
    color:#fff;
    background:rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    position:absolute;
}

#title {
    font-size:16px;
    text-align:center;
}
#links a{
    font-size:14px;
    margin:40px 0px;
    color:#fff;
}
