body,html {
    padding:0px;
    margin:0px;
    font-family: 'PT Mono', monospace;
    color:#fff;
    background:rgb(0, 0, 0);
    width:80%;
    padding:40% 10%;
    text-align:center;
    position:absolute;
}

#title {
    font-size:14px;
}
#links {
    font-size:12px;
    margin:40px 0px;
    color:#fff;
}
