body,html {
    padding:0px;
    margin:0px;
    font-family: 'PT Mono', monospace;
    color:#fff;
    background:rgb(0, 0, 0);
    scroll-behavior: smooth;
}
#header {
    width:80%;
    padding:4% 10%;
    text-align:center;
    position:absolute;
}
#header div {
    display:block;
}
#title {
    font-size:40px;
}
#links {
    margin:40px 0px;
    color:#fff;
}
#links a {
    margin:0px 30px;
    color:#46aa58;
    text-decoration:underline;
    padding:5px 8px;
}
