body,html {
    font-family: 'PT Mono', monospace;
    color:#fff;
    background:rgb(0, 0, 0);
    width:80%;
    padding:30% 10%;
    position:absolute;
}

#title {
    font-size:16px;
    text-align:center;
}
#links a{
    font-size:14px;
    margin:40px 0px;
    color:#fff;
}
