
body {
    --font-family: 'Inconsolata', monospace;
    --font-size: 1rem;
    --line-height: 1.2rem;
}

h1 {
	--font-size: 3.3rem;
    --font-family: 'Inconsolata', monospace;
    --line-height: 1rem;
    --colour:black;
    --letter-spacing: -0.1rem;
}

li {
	--font-size: 1rem;
}

a {
	--colour:rgba(129,36,176,1);
}

div {
    padding-top: 
}