
body {
    --font-family: 'Inconsolata', monospace;
    --font-size: 1rem;
    --line-height:1.2;
}

h1 {
	--font-size: 3.3rem;
    --font-family: 'Inconsolata', monospace;
    --line-height:1;
    --colour:black;
    --letter-spacing:-0.1rem
}

li {
	--width: max-content;
	--font-size: 5rem !important;
}

a {
	--colour:rgba(129,36,176,1);
}
